{% extends 'layout.html' %} {% block title %} Communities {% endblock %}
{% block content %}
    <section>
        <h1>Communities</h1>
        <br>
        {% for community in communities %}
        <hr>
        <article class="Community">
            <h2>
                <a href="{%  url 'community:page' slug=community.slug %}"> {{ community.name }} </a>
            </h2>
            <p>{{community.date}}</p>
            <p>{{community.body}}</p>
            <p>{{community.author}}
        </article>
        {% endfor %}
    </section>
    
    {% endblock %}
